<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <link href="styles.css" rel="stylesheet">
    <title>V To D </title>
</head>

<body>
    <div id="vue-app">
        <h1>MY 2-DO LIST</h1>
        <h3>Total # Current tasks: {{tasks.length}}</h3>

        <!-- INPUT LABEL -->
        
            <label for="todoitem">Task:</label>

            <!-- INPUT -->
            <input type="text" class="task-input" v-model="input" placeholder= "Sofware programming.."/>
            <br>
            <!-- INPUT BUTTON -->
            <button type="button"  v-on:click="add()">Initialize Task</button>
           <br>
            <button type="button"  v-on:click="erase()">Erase Task</button>

        
        <!-- RESULTS ONTO DOM -->
        <div class="output">
            <h2><u>List of Tasks to do:</u></h2>
            <ul class="list-group">

                <li v-for="(item, i) in tasks" :key="i" class="list-item">

                    <strong> {{i}}: {{item}} </strong>

                </li>


            </ul>



        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>