html {
    background: linear-gradient(
        to top right,
        skyblue,
        skyblue,
        skyblue,
        black,
        black

    );
    text-align: center;
}

h1 {
    
 color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}


.list-group {
    border: 1px solid #333;
}

.list-item {
    color: red;
}