html {
    text-align: center;
    background: linear-gradient( 
        to top right,
        skyblue,
        skyblue,
        skyblue,
        black,
        black,
        black
    );
    
}

h1 {   
    color: red;
    font-family: Impact;
}

h2 {
    text-decoration: underline;
}

h3 {
    color: white;
}

.list-group {
    border: 10px dashed silver;
}

.list-item {
    color: white;
}

li {
    font-family: monospace;
    font-size: 25px;
}

li:nth-child(even){
    color:black;
   }

.task-input {
    width: 400px;
}

.highlight {
    color: gold;
    text-decoration-line: line-through;
}

.deleteAll-button{
    height: 30px;
    width: 70px;
    font-size: 15px;
    font-family: bold;
    border-radius: 80px;
    border-color: red;
    background-color: red;
}





/* .restoreAll-button{
    border-color: blue;
    border-radius: 80px;
    background-color: blue;
    height: 30px;
    width: 70px;
    font-size: 15px;
    font-family: bold;
} */