html {
    background: linear-gradient(
        to top right,
        skyblue,
        skyblue,
        skyblue,
        black,
        black,
        black
    );
    text-align: center;
}

h1 {   
 color: red;
 font-family: Impact;
}

h3 {
    color: white;
}

.list-group {
    border: 10px dashed silver;
}

.list-item {
    color: white;
}

li {
    font-family: monospace;
    font-size: 25px;
}

.task-input {
    width: 400px;
}

li:nth-child(even){
    color:black;
   }

h2 {
    text-decoration: underline;
   }